@import '../../commonStyles/variables.scss';

.dropdown {
  margin-top: -13px;
  position: relative;

  &.open {
    z-index: 9;

    .dLabel {
      background-color: #fff;
    }

    i {
      margin-top: 4px;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    .dropdownMenu {
      display: block;
    }

    .backdrop {
      opacity: 0.2;
      visibility: visible;
    }
  }

  .backdrop {
    @include popupFull(fixed, 0, false, false, 0);
    @include widthHeight(100%, 100%);

    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #000;
  }

  .dLabel {
    padding: 14px;
    border-radius: 3px 3px 0 0;

    .dLabelTitle {
      @extend .disFlex;

      @include fontStyle(10px, false, 400);

      text-transform: uppercase;
    }

    .selectedTxt {
      @extend .disFlex;

      @include fontStyle(false, $TextCol, 600);

      margin-top: 3px;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
    }
  }

  i {
    @include padd(3px);

    margin: -3px 0 0 7px;
    border: solid $Black;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    transition: all 0.3s ease;
  }

  .dropdownMenu {
    @include popupFull(absolute, 100%, 0, false, false);

    min-width: 200px;
    z-index: 999;
    border-radius: 0 0 3px 3px;
    display: none;
    background: $White;
    max-height: 300px;
    overflow: scroll;

    li {
      @extend .BB;

      padding: 15px 20px;
      font-weight: 400;
      cursor: pointer;
      word-break: break-word;

      &:hover {
        background: $bgCol;
      }
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
