/* stylelint-disable unit-no-unknown */
@import '../commonNewStyles/variables.scss';

html {
  font-family:
    Roboto,
 -apple-system,
 BlinkMacSystemFont,
 Helvetica Neue,
    Segoe UI,
 sans-serif; /* 1 */

  line-height: 1.5; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  color: $subTextCol;
  line-height: 1.5;
  background: $White;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}

/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  text-decoration: none;
  color: $Blue;
}

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/

a:active,
a:hover {
  outline-width: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
svg {
  width: 100%;
  border-style: none;
  background: transparent;
  animation: fadeIn ease 0.5s;
}

p {
  margin: 0;
  padding: 0;
}


/**
* Hide the overflow in IE.
*/

svg:not(:root) {
  overflow: hidden;
}

/* Forms
 ========================================================================== */

/**
* 1. Change font properties to `inherit` in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/

button,
html [type='button'], /* 1 */
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
*/

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: $Blue;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
width: 6px;
height: 6px;
background-color: $borderCol;
border-radius: 20px;
}

::-webkit-scrollbar-thumb {
background-color: $Blue;
border-radius: 20px;
}

::-webkit-scrollbar-track {
background-color: $White;
border-radius: 20px;
}

.hideScrollBar::-webkit-scrollbar {
@extend .hide;
}
