@import '../../commonStyles/variables.scss';

.floatingLabel {
  position: relative;

  input {
    @include fontStyle(17px, $TextCol, 500);
    @include widthHeight(100%, 30px);

    padding: 4px 0;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $borderCol;

    &:focus {
      outline: none;
      border-bottom: 2px solid $Blue;

      & ~ label {
        @include fontStyle(12px, $LBlack, 400);

        top: -15px;
      }
    }

    &:not(:placeholder-shown) {
      & ~ label {
        @include fontStyle(12px, $LBlack, 400);

        top: -15px;
        color: $LBlack;
      }
    }
  }

  label {
    @include fontStyle(15px, $subTextCol, 600);
    @include popupFull(absolute, 5px, false, false, 0);

    pointer-events: none;
    transition: 0.2s ease all;
  }

  .error {
    @include fontStyle(12px, $Red, 500);
  }
}
