@import '../../commonStyles/variables.scss';

@mixin tableCol {
  padding: 0 20px;
  word-break: break-word;
  min-width: 150px;
  vertical-align: middle;
  width: 1%;
  flex-basis: 40%;
  -o-text-overflow: ellipsis;
}

.tableContainer {
  margin-bottom: 20px;
  position: relative;
  background: $White;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;

  .tableHeader {
    @include fontStyle(16px, $DBlue, 600);
    @include flexBox(flex, center, space-between);

    padding: 17px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 1 1 100%;
    background: $bgCol;
  }

  .download {
    cursor: pointer;
  }

  .planArrow {
    cursor: pointer;
  }

  .tableRow {
    @include flexBox(flex, center, space-between);

    @extend .BB;

    padding: 17px 30px;
    margin-top: 4px;
    font-size: 12px;
    box-sizing: border-box;
    flex: 1 1 100%;

    div {
      position: relative;
    }
  }

  .col0 {
    @include tableCol();

    min-width: 1px;
    flex-basis: 2%;
  }

  .col0-1 {
    @include tableCol();

    flex-basis: 11%;
  }

  .col1 {
    @include tableCol();

    flex-basis: 15%;
  }

  .col2 {
    @include tableCol();

    min-width: 130px;
    flex-basis: 25%;
  }

  .col3 {
    @include tableCol();

    flex-basis: 40%;
  }

  .col4 {
    @include tableCol();

    flex-basis: 50%;
  }
}

.tableLimitContainer {
  .tableHeader {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tableRow {
    padding: 20px 0;
    margin: 0 20px;
  }

  .tableError {
    @include widthHeight(100%, 34vh);

    text-align: center;
    font-size: 16px;
    margin-top: 95px;
  }

  .noData {
    position: relative;
    font-size: 14px;
    color: $LBlack;
    min-height: 700px;
  }

  .loaderGif {
    text-align: center;
    flex-basis: 100%;
    min-height: 700px;

    img {
      width: 100px;
    }
  }
}
