@import '../../../commonNewStyles/variables.scss';

.ModalContainer {
  @include position(fixed, 0, false, 0, 0, 1000);

  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: width 0s, left 0.5s;

  .Modal {
    @include position(absolute, 0, false, false, 0);

    height: 100%;
    background: $White;
    transform: translateZ(0);

    .ModalHeader {
      background: $White;
      padding: 13px 13px 13px 10px;

      @include flexBox(flex, false, flex-start);
      @include position(absolute, 0, false, false, false, 20);
      @include dimensions(0px, 70px);

      .ModalCloseButton {
        @extend .disFlex;

        margin-right: 25px;
        cursor: pointer;
        font-size: 24px;

        &::after {
          @include dimensions(25px, 25px);
          @include position(absolute, 17px, false, false, 6px);

          color: $White;
          padding: 5px 8px;
        }
      }
    }

    .ModalBody {
      position: relative;
      flex-direction: column;
      overflow-y: scroll;
      min-height: 100%;
      max-height: 100%;
      overflow-x: scroll;
      display: flex;
    }
  }
}

.tabHeader {
  @include flexBox(flex, center, center);
  @include position(absolute, 35px, 50%, false, 10px);

  width: 150px;
  transform: translateY(-50%);

  i {
    font-size: 35px;
    margin-left: 20px;
  }

  .arrowBox {
    padding: 10px 14px 10px 20px;
    cursor: pointer;

    .backArrow {
      @include dimensions(12px, 12px);

      display: inline-block;
      position: relative;

      &::after {
        @include dimensions(10px, 10px);
        @include position(absolute, 3px, false, false, 3px);

        border-color: $TextCol;
        border-style: none solid solid none;
        border-width: 0 2px 2px 0;
        content: '';
        display: inline-block;
      }

      &::before {
        background: $TextCol;
      }

      &.left {
        transform: rotate(135deg);
      }

      &.arrowBar::before {
        @include dimensions(2px, 15px);
        @include position(absolute, false, -2px, -1px, false);

        content: '';
        transform-origin: bottom;
        transform: rotate(-45deg);
      }
    }
  }
}
