@import '../../../commonStyles/variables.scss';

.pagination {
  @include flexBox(flex, center, space-between);

  padding: 20px 40px;

  &.withoutPageCount {
    display: inline-flex;
    padding: 20px 0;
  }

  .totelPage {
    @include fontStyle(12px, $subTextCol, 800);

    text-transform: uppercase;

    span {
      padding: 0 5px;
    }
  }

  .prevNextArrows {
    button {
      @include flexBox(inline-flex, center, center);

      @extend .Bfull;

      @include fontStyle(14px, $subTextCol, 800);

      padding: 5px 20px;
      cursor: pointer;
      background: $White;
      width: 71px;

      &:hover {
        background: $borderCol;
      }
    }

    .prev {
      margin-right: 20px;

      i {
        border: solid  $subTextCol;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        margin-right: 7px;
      }
    }

    .next {
      margin-left: 25px;

      i {
        transform: rotate(-45deg);
        border: solid  $subTextCol;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 7px;
      }
    }

    .disabled {
      background: $borderCol;
      border: $borderCol;
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
      color: $subTextCol;

      i {
        border-color: $subTextCol;
      }

      &:hover {
        background: $borderCol;
      }
    }
  }

  .pageNo {
    @include fontStyle(14px, $subTextCol, 800);
    @include dimensions(24px, 24px);
    @include flexBox(inline-flex, center, center);

    &:not(.dot) {
      cursor: pointer;

      &:hover {
        background: $bgCol;
        border-radius: 100%;
      }
    }

    &.currentPage {
      color: $Blue;
    }
  }
}
