@import '../../../commonNewStyles/variables.scss';

.menu {
  padding-bottom: 80px;
  box-sizing: border-box;
  position: fixed;
  border-right: 1px solid $borderCol;
  width: 260px;
  height: calc(100% - 50px);
  height: 100%;
  overflow-y: auto;
  background: $White;

  nav {
    margin-top: 20px;

    a {
      @include flexBox(flex, center);
      @include fontStyle(14px, $subTextCol, 600);

      padding: 8px 16px 8px 34px;
      align-items: center;
      border-left: 6px solid $White;

      img.icons {
        @include dimensions(24px, 24px);

        display: inline-block;
        font-size: 20px;
        margin-right: 20px;

        &::before {
          color: $subTextCol;
        }
      }

      .planArrow {
        @include tAlign(right);
        flex: 1;
      }
    }

    .active {
      @include fWeight(600);

      border-left: 6px solid $Blue;
      color: $Blue;
      background: $White;
      font-weight: 700;

      i {
        &::before {
          color: $Blue;
        }
      }
    }
    // .inactive {
    //   border-left: 3px solid $White;
    //   color: $subTextCol;
    // }
    .openTab {
      @extend .show;

      @include transition(all 0.8s);

      max-height: 270px;
      overflow-y: hidden;

      .tabOpt {
        overflow-y: scroll;
        max-height: 180px;

        a {
          margin: 5px 0 5px 0;
          padding: 5px 5px 5px 78px !important;
          font-size: 13px;

          i {
            font-size: 15px;
          }
        }
      }
    }

    .hideTab {
      @include overflow(hidden);
      @include transition(all 0.5s);

      min-height: 0;
      max-height: 0;

      a {
        margin: 5px 0 5px 0;
        padding: 5px 5px 5px 78px !important;
        font-size: 13px;

        i {
          font-size: 15px;
        }
      }
    }
  }
}

.padd75 {
  display: none;
}

@include tablet {
  .menu {
    nav {
      margin-top: 100px;
    }
  }
}

.planArrow {
  i {
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    height: auto;
    width: auto;
    margin-left: 6%;
    margin-bottom: 2%;
  }

  .up {
    transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
  }
}
