@import '../../commonStyles/variables.scss';

.floatingLabel {
  @extend .Bfull;

  padding: 14px 0;
  position: relative;

  & > div {
    padding: 0 10px;
  }

  label {
    @include position(absolute, 18px, false, false, false);

    transition: 0.2s ease all;
    font-size: 12px;
    pointer-events: none;
    color: $subTextCol;

    .required {
      position: relative;

      &::after {
        content: ' *';
        color: $Red;
      }
    }
  }

  .floatingInput {
    @include fontStyle(14px, $TextCol, 800);

    display: block;
    padding: 8px 0;
    opacity: 1;
    width: 80%;
    background: transparent;
    border: none;

    &:focus {
      outline: none;

      & ~ label {
        @include position(false, 5px, false, false, false);

        opacity: 1;
      }
    }

    &::placeholder {
      opacity: 1;
      color: $White;
    }

    &:not(:placeholder-shown) ~ label {
      @include position(false, 5px, false, false, false);

      opacity: 1;
    }
  }

  span {
    @include position(absolute, 0, 0, false, false);

    padding: 15px 12px;
    cursor: pointer;

    i {
      display: inline-block;
      padding: 3px;
      border: solid $LBlack;
      border-width: 0 2px 2px 0;
      transition: all 0.3s ease;
      transform: rotate(45deg);
    }

    .up {
      transform: rotate(-135deg);
    }
  }
}

/* for disabled state */
.disabled {
  .floatingLabel {
    background: $solitude;
    cursor: not-allowed;

    .floatingInput {
      cursor: not-allowed;
    }
  }

  span {
    cursor: not-allowed;
  }
}

.borderBlue {
  border: 1px solid $Blue;
}

.required {
  position: relative;

  &::after {
    content: ' *';
    color: $Red;
  }
}

.dropdown {
  width: 100%;
  position: relative;

  .innerDiv {
    color: #999;
    font-size: 14px;
  }

  .divOpen {
    .listBox {
      @extend .Bfull;

      @include position(absolute, 0, 0, false, 0, 1);

      width: 100%;
      background: $White;
      border-top: none;
      box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14);

      .ddOptions {
        max-height: 240px;
        overflow-y: scroll;
      }

      .dropList {
        @extend .BB;

        @include fontStyle(14px, $kashmirBlue);
        @include flexBox(flex);

        cursor: pointer;
        width: 100%;
        padding: 12px 18px;
        word-break: break-word;

        &.selected {
          color: $Blue;
        }

        &:hover {
          background: $bgCol;
          color: $TextCol;
        }

        > div {
          width: 100%;
        }

        label {
          @include fontStyle(14px, $kashmirBlue, false, 1.4);

          width: 100%;
          padding-left: 38px;
          word-break: break-word;
        }
      }
    }
  }
}

.storeSection {
  @include flexBox(flex, center, space-between);

  .storeLabel {
    @include fontStyle(14px, $LTextCol, 700);
  }

  .selectedStore {
    @include fontStyle(12px, $LTextCol, 400);
  }

  .addStoreBtn {
    @include fontStyle(14px, $themeColor, 700);

    cursor: pointer;
  }
}

.selectedItem {
  @include flexBox(flex);

  border-top: 1px solid $solitude;
  margin-top: 12px;
  padding-top: 12px;
}

.itemDataSelected {
  @include flexBox(flex, false, false, false, column, 1);
  @include fontStyle(14px, $bunting, 700);

  padding-right: 8px;
}

.itemName {
  @include fontStyle(14px, $bunting, 700);
}

.itemAddress {
  @include fontStyle(14px, $kashmirBlue, 500);

  padding-top: 6px;
}

.removeBtn {
  @include dimensions(76px, 36px);
  @include fontStyle(14px, $themeColor, 700);
  @include flexBox(flex, center, center);

  border: 1px solid $solitude;
  cursor: pointer;
}

.searchInfo {
  background: $lightBlueGrey;
  padding: 6px 12px 6px 8px;
  position: relative;

  input {
    @include dimensions(100%, 44px);
    @include fontStyle(14px, $kashmirBlue, 700);

    border: 1px solid $solitude;
    background: $White;
    border-radius: 2px;
    padding: 0 10px 0 48px;

    &::placeholder {
      @include fontStyle(14px, $LTextCol);
    }
  }

  i {
    @include position(absolute, 17px, false, false, 24px, 1);
    @include fontStyle(22px, $LTextCol);
  }
}

.checkboxInfo {
  width: 18px !important;
  margin: 3px 19px 0 0;
}

.checkBoxData {
  @include flexBox(flex, false, false, false, column);
}

.itemText {
  @include fontStyle(14px, $bunting, 700);
}

.itemDetailsText {
  @include fontStyle(14px, $kashmirBlue, 500);

  padding-top: 6px;
}

.Error {
  @include fontStyle(12px, $Red);

  margin-top: 2px;
}

.redError {
  border: 1px solid $Red;

  label {
    color: $Red;
  }
}

.selectedState {
  max-height: 265px;
  overflow-y: auto;
  margin-top: 10px;
}

.ddOptions,
.selectedState {
  &::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar-track {
    background: $White;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 53px;
    background-color: rgba(139, 166, 193, 0.3);
    width: 8px;
  }
}
