@import '../../../commonNewStyles/variables.scss';


.headerNew {
  @extend .BB;

  @include dimensions(100%, 65px);
  @include position(fixed, 0, false, false, false, 5);
  @include flexBox(flex, center);
  padding: 0 40px;
  background: $DBlue;
  display: flex;
  a {
    i {
      font-size: 35px;
    }
  }

  .login {
    margin-left: auto;

    .icon {
      @include flexBox(flex, center, center);
      @include fontStyle(14px, $TextCol, 800);
      @include dimensions(40px, 40px);

      background: $borderCol;
      border-radius: 50%;
      margin-right: 5px;
      cursor: pointer;
      text-transform: uppercase;
    }

    .userLabel {
      @include flexBox(flex, center, center);
      @include dimensions(45px, 40px);
      @include position(absolute, -20px, 0);
      @include fontStyle(14px, $subTextCol, 800);

      background: $White;
      border-radius: 3px 3px 0 0;
    }
  }
}

.topLink {
 width: 100%;
  @include flexBox(flex, center);

  .menuToggle {
    @extend .show;

    @include popupFull(relative, 3px, 0, 0, 0);
    @include zIndex(1);

    input {
      @extend .show;

      @include widthHeight(40px, 32px);
      @include popupFull(absolute, -7px, 0, 0, -5px);

      @extend .cursor;

      @include zIndex(2);

      opacity: 0;

      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-1px, 0);
        background: #666;
      }

      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:checked ~ div {
        transform: none;
      }

      &:checked ~ .overlay {
        display: block;
      }
    }

    span {
      @extend .show;

      @include widthHeight(25px, 2px);

      @extend .posRel;

      @include border-radius(3px);
      @include zIndex(1);

      margin-bottom: 5px;
      background: $LBlack;
      transform-origin: 4px 0;
      transition:
        transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  .logo {
    border-left: 1px solid #ebebeb;
    padding: 5px 20px;
    position: absolute;
    left: 4.8%;

    i {
      @include fontStyle(15px, false, false);
    }

    .text {
      @include fontStyle(20px, $TextCol, 300);

      margin-top: -7px;
    }
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .headerNew{
    padding: 0 20px;
  }
}
