/* stylelint-disable no-duplicate-selectors */
@import '../../commonStyles/variables.scss';

.radioBar {
  @include flexBox(flex, center);

  .radio {
    margin: 8px 8px 8px 0;

    label {
      @include fontStyle(14px, $TextCol, 600);

      margin-right: 20px;
    }

    input[type='radio'] {
      position: absolute;
      opacity: 0;

      + .radioLabel {
        cursor: pointer;
        display: flex;

        &::before {
          @include widthHeight(20px, 20px);

          content: '';
          background: $White;
          border-radius: 100%;
          border: 2px solid #536e92;
          display: inline-block;
          position: relative;
          margin: 0 10px 0 0;
          transition: all 250ms ease;
        }
      }

      &:checked {
        + .radioLabel {
          &::before {
            background-color: $Blue;
            border: 2px solid $Blue;
            box-shadow: inset 0 0 0 4px $White;
          }
        }
      }

      &:focus {
        + .radioLabel {
          &::before {
            outline: none;
            border-color: $Blue;
          }
        }
      }

      // &:disabled {
      //   + .radioLabel {
      //     &::before {
      //       box-shadow: inset 0 0 0 4px $bgCol;
      //       border-color: darken($bgCol, 25%);
      //       background: darken($bgCol, 25%);
      //     }
      //   }
      // }

      + .radioLabel {
        &:empty {
          &::before {
            margin-right: 0;
          }
        }
      }
    }
  }

  .radioDisabled {
    cursor: not-allowed;
    opacity: 0.4;
    input[type='radio'] {
      + .radioLabel {
        cursor: not-allowed;
      }
    }
  }
}

.Error {
  @include fontStyle(12px, $Red);

  margin-top: 2px;
}

.required {
  @include fontStyle(14px, $subTextCol, 700);

  position: relative;

  &::after {
    content: ' *';
    color: $Red;
  }
}
