@import '../../../commonNewStyles/variables.scss';
.hamburgerMenu {
  i.menu {
    display: none;
  }
}

@include tablet {
  .hamburgerMenu {
    i.menu {
      font-size: 18px;
      padding: 20px;
      margin: 0 5px 0 -20px;
      cursor: pointer;
      display: block;

      &::before {
        color: #ffff;
        content: '=';
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
}