@import "./custom-font.scss";
@import "./variables.scss";
@import "./modified-normalize.scss";
// /* SCROLLBAR CSS START */

// ::-webkit-scrollbar {
//   width: 6px;
//   height: 6px;
//   background-color: $borderCol;
//   border-radius: 20px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $Blue;
//   border-radius: 20px;
// }

// ::-webkit-scrollbar-track {
//   background-color: $White;
//   border-radius: 20px;
// }

// .hideScrollBar::-webkit-scrollbar {
//   @extend .hide;
// }

// /* SCROLLBAR CSS END */

/* Arrow Plan */

.planArrow {
  i {
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .left {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .down {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Arrow Tag */

.arrowTag {
  background: transparent;
  display: inline-block;
  line-height: 26px;
  font-weight: 500;
  padding: 3px 15px;
  position: relative;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid;
    border-right: 10px solid;
    right: -16px;
    top: 0;
    transform: rotate(-90deg);
    position: absolute;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid;
    border-right: 10px solid;
    right: -16px;
    bottom: 0;
    transform: rotate(180deg);
    position: absolute;
  }
}

/* Triangle Arrows */

.triAfterCon {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 10px solid black;
  border-color: transparent transparent transparent transparent;
  transform-origin: 0 0;
  box-shadow: -3px 3px 3px 0 rgba(0, 46, 110, 0.2);
}

.triangleArrowUp {
  position: relative;

  &::after {
    transform: rotate(-225deg);
    @extend .triAfterCon;
  }
}

.triangleArrowDown {
  position: relative;

  &::after {
    transform: rotate(-45deg);
    @extend .triAfterCon;
  }
}

.triangleArrowRight {
  position: relative;

  &::after {
    transform: rotate(-130deg);
    @extend .triAfterCon;
  }
}

.triangleArrowLeft {
  position: relative;

  &::after {
    transform: rotate(45deg);
    @extend .triAfterCon;
  }
}

.mainLayout {
  position: relative;
  text-align: left;
  color: $TextCol;
  user-select: none;
}

.dotSeparator {
  &::before {
    content: "";
    display: inline-block;
    background: #b8c2cb;
    margin: 0 8px 2px;
    padding: 2px;
    border-radius: 50%;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
