@font-face {
  font-family: "PaytmMall Seller-WEB";
  src: url("fonts/roboto/Roboto-Medium.eot?rct9z7");
  src: url("fonts/roboto/Roboto-Medium.eot?rct9z7#iefix")
      format("embedded-opentype"),
    url("fonts/roboto/Roboto-Medium.woff2?rct9z7") format("woff2"),
    url("fonts/roboto/Roboto-Medium.ttf?rct9z7") format("truetype"),
    url("fonts/roboto/Roboto-Medium.woff?rct9z7") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:global {
  i {
    /* use !important to prevent issues with browser extensions that change fonts/roboto */
    font-family: "PaytmMall Seller-WEB" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .notification::before {
    content: "\e912";
  }

  .refreshCircle::before {
    content: "\e911";
  }

  .replicateIcon::before {
    content: "\e910";
  }

  .phone::before {
    content: "\e90f";
  }

  .info::before {
    content: "\e90b";
  }

  .location::before {
    content: "\e90a";
  }

  .refresh::before {
    content: "\e909";
  }

  .instoreOrders::before {
    content: "\e908";
  }

  .items::before {
    content: "\e90c";
  }

  .Fom::before {
    content: "\e90d";
  }

  .userManagement::before {
    content: "\e90e";
  }

  .refundAmount::before {
    content: "\e96b";
  }

  .arrow::before {
    content: "\e96a";
  }

  .cancel::before {
    content: "\e900";
    color: #ff4b55;
  }

  .add-circle-outline::before {
    content: "\e901";
  }

  .add-circle::before {
    content: "\e902";
  }

  .arrowBack::before {
    content: "\e903";
  }

  .bestSeller .path1::before {
    content: "\e904";
    color: rgb(255, 158, 0);
  }

  .bestSeller .path2::before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }

  .business_with_Paytm_new .path1::before {
    content: "\e906";
    color: rgb(0, 191, 242);
  }

  .business_with_Paytm_new .path2::before {
    content: "\e907";
    margin-left: -1.46875em;
    color: rgb(36, 52, 110);
  }

  .business-activate::before {
    content: "\e91a";
  }

  .business-settings::before {
    content: "\e91b";
  }

  .busTicket::before {
    content: "\e91c";
    color: #999;
  }

  .callback::before {
    content: "\e91d";
    color: #ef4e28;
  }

  .Catalog::before {
    content: "\e91e";
    color: #999;
  }

  .clear::before {
    content: "\e91f";
    color: #506d85;
  }

  .closeBG .path1::before {
    content: "\e920";
    color: rgb(245, 249, 254);
  }

  .closeBG .path2::before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(80, 109, 133);
  }

  .CST::before {
    content: "\e923";
    color: #ef4e28;
  }

  .Dashboard::before {
    content: "\e924";
    color: #999;
  }

  .date-filter .path1::before {
    content: "\e925";
    color: rgb(0, 186, 251);
  }

  .date-filter .path2::before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(0, 44, 114);
  }

  .Deal::before {
    content: "\e92d";
    color: #ef4e28;
  }

  .Default::before {
    content: "\e92e";
    color: #ef4e28;
  }

  .delete::before {
    content: "\e92f";
    color: #506d85;
  }

  .DIY::before {
    content: "\e930";
    color: #ef4e28;
  }

  .done::before {
    content: "\e931";
  }

  .edit::before {
    content: "\e932";
  }

  .event::before {
    content: "\e933";
    color: #ef4e28;
  }

  .feeRecieve::before {
    content: "\e934";
    color: #536e92;
  }

  .File-center::before {
    content: "\e935";
    color: #ef4e28;
  }

  .filter::before {
    content: "\e936";
    color: #555;
  }

  .filters::before {
    content: "\e937";
  }

  .fomRecieve::before {
    content: "\e938";
    color: #536e92;
  }

  .formTransactions::before {
    content: "\e939";
  }

  .Gold::before {
    content: "\e93a";
    color: #ef4e28;
  }

  .infoOutline::before {
    content: "\e93b";
  }

  .LMD::before {
    content: "\e93c";
    color: #999;
  }

  .Loan::before {
    content: "\e93d";
    color: #ef4e28;
  }

  .logopaytm .path1::before {
    content: "\e93e";
    color: rgb(0, 186, 242);
  }

  .logopaytm .path2::before {
    content: "\e93f";
    margin-left: -3.15625em;
    color: rgb(32, 51, 107);
  }

  .manageFee::before {
    content: "\e943";
    color: #536e92;
  }

  .menu::before {
    content: "\e944";
    color: #494949;
  }

  .Merchant::before {
    content: "\e945";
    color: #999;
  }

  .more-horiz::before {
    content: "\e946";
  }

  .Movie::before {
    content: "\e947";
    color: #ef4e28;
  }

  .negative::before {
    content: "\e948";
  }

  .New .path1::before {
    content: "\e949";
    color: rgb(76, 175, 80);
  }

  .New .path2::before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }

  .Notification::before {
    content: "\e94b";
    color: #999;
  }

  .orders::before {
    content: "\e94c";
    color: #999;
  }

  .Payments::before {
    content: "\e94d";
    color: #999;
  }

  .Pending .path1::before {
    content: "\e94e";
    color: rgb(253, 172, 0);
  }

  .Pending .path2::before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }

  .positive::before {
    content: "\e950";
  }

  .Postpaid::before {
    content: "\e951";
    color: #ef4e28;
  }

  .Promocode::before {
    content: "\e952";
    color: #ef4e28;
  }

  .Promotion::before {
    content: "\e953";
    color: #ef4e28;
  }

  .PushNotification::before {
    content: "\e954";
    color: #999;
  }

  .qrcode::before {
    content: "\e955";
    color: #e74b24;
  }

  .Recommended .path1::before {
    content: "\e956";
    color: rgb(255, 88, 93);
  }

  .Recommended .path2::before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }

  .Redeem::before {
    content: "\e958";
    color: #ef4e28;
  }

  .reports::before {
    content: "\e959";
  }

  .Return::before {
    content: "\e95a";
    color: #999;
  }

  .Review-Rating::before {
    content: "\e95b";
    color: #ef4e28;
  }

  .search::before {
    content: "\e95c";
  }

  .seasonSpecial .path1::before {
    content: "\e95d";
    color: rgb(0, 121, 255);
  }

  .seasonSpecial .path2::before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }

  .Shippingcharges::before {
    content: "\e95f";
    color: #999;
  }

  .sixSquares::before {
    content: "\e960";
    color: #c4d6e9;
  }

  .StoreBuilder::before {
    content: "\e961";
    color: #ef4e28;
  }

  .Storefront::before {
    content: "\e962";
    color: #999;
  }

  .success .path1::before {
    content: "\e963";
    color: rgb(33, 190, 122);
  }

  .success .path2::before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }

  .Theme-park::before {
    content: "\e965";
    color: #ef4e28;
  }

  .today::before {
    content: "\e966";
  }

  .uploadImg::before {
    content: "\e967";
    color: #00aced;
  }

  .User::before {
    content: "\e968";
    color: #ef4e28;
  }

  .Warehouse::before {
    content: "\e969";
    color: #ef4e28;
  }
}
