$Black: #000;
$White: #fff;
$Blue: #00b9f5;
$DBlue: #002e6e;
$PrimaryBlue: #07448e;
$secondaryBlue: #012b72;
$Red: #fd5154;
$Yellow: #ff9d00;
$Green: #21c17a;
$TextCol: #1d2f54;
$subTextCol: #506d85;
$LBlack: #8ba6c1;
$bgCol: #ebf3fd;
$bgCol2: #f5f9fe;
$borderCol: #f5f9fe;
$LGrey: #e1ecfc;
$inActive: #e8edf3;

$pickpText: #627bff;
$diningText: #ff7a00;
$deliveryText: #24c0d6;
$LTextCol: #86a0c2;
$oldLace: #fff6e5;

$descriptionText: #29394f;

$solitude: #e6ebf3;
$kashmirBlue: #536e92;
$aliceBlue: #f3f8fd;
$lightGrey: #c7c7c7;
$lightBlueGrey: #f6f8fc;
$lightPink: #fffaed;
$mayaBlue: #6ac9ef;
$resolutionBlue: #26356c;

/*** Action style ***/
$diningBG: #fff3ed;
$pickpBG: #eff6ff;
$deliveryBG: #e8fcff;
$lightBlue: #e3eaf3;

/*** Alert Color ***/
$alertColor: #ff9e00;
$alertColorShade1: #ffb800;
$alertColorShade4: #fffaed;
$darkBlue: #182233;
$lightGreyColor: #f6f8fc;

/*** New Color Theme  ***/

/** Primary Color ***/
$themeColor: #00b9f5;

/*** Secondary ***/
$secThemeColor: #07448e;
$secThemeColorShade1: #3075ca;
$secThemeColorShade2: #377fd7;
$secThemeColorShade3: #478bdf;
$secThemeColorShade4: #85bcff;

/*** Success Color ***/
$success: #21c17a;
$successShade1: #e9f9f2;

/*** Alert Color ***/
$alert: #ff9d00;
$alertShade1: #ffd899;
$alertShade2: #fff3ed;
$alertShade3: #fff6e5;
$alertShade4: #fff8ed;

/*** Warnings Color ***/
$warning: #fd5154;
$warningShade: #ffefef;

/*** Order Type Color **/
$deliveryColor: #00d4c8;
$deliveryColorShade1: #e8fff8;
$dineInColor: #ff7a00;
$dineInColorShade1: #fff3ed;
$pickupColor: #627bff;
$pickupColorShade1: #eff6ff;

/*** Neutral colors ***/
$bunting: #1d2f54;
$wedgewood: #506d85;
$poloBlue: #8ba6c1;
$aliceBlue: #edf1f5;
$solitude: #e9eef4;
$lightColorBlue: #f7f9fc;
$linkWater: #d0d6de;

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.BB {
  border-bottom: 1px solid $LGrey;
}

.Bfull {
  border: 1px solid $LGrey;
}

.BT {
  border-top: 1px solid $LGrey;
}

/* eslint-disable at-rule-no-unknown */
/* stylelint-disable */
@mixin fontStyle(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false,
  $style: false,
  $textDecoration: false
) {
  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $style {
    font-style: $style;
  }

  @if $textDecoration {
    text-decoration: $textDecoration;
  }
}

// mixin to add ellipsis
@mixin ellipsis($maxWidth: false) {
  @if $maxWidth {
    max-width: $maxWidth;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Mixin for multiline ellipsis support on web
// this will provide support only for -webkit- browser for till date
@mixin ellipsisMulti($maxLine, $maxHeight: false) {
  @if $maxHeight {
    // fallback for non supported browsers if required
    max-height: $maxHeight;
  }

  display: -webkit-box;
  -webkit-line-clamp: $maxLine;
  -webkit-box-orient: vertical;
  overflow: hidden; // fallback for non supported browsers
  white-space: normal;
}

// mixin for position
@mixin position(
  $position,
  $top: false,
  $right: false,
  $bottom: false,
  $left: false,
  $zIndex: false
) {
  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }

  @if $left {
    left: $left;
  }

  @if $zIndex {
    z-index: $zIndex;
  }

  position: $position;
}

// mixin for width, height, max-width & max-height
@mixin dimensions(
  $width: false,
  $height: false,
  $maxWidth: false,
  $maxHeight: false,
  $minWidth: false,
  $minHeight: false
) {
  @if $width {
    width: $width;
  }

  @if $height {
    height: $height;
  }

  @if $maxWidth {
    max-width: $maxWidth;
  }

  @if $maxHeight {
    max-height: $maxHeight;
  }

  @if $minWidth {
    min-width: $minWidth;
  }

  @if $minHeight {
    min-height: $minHeight;
  }
}

// mixin for display flex with all property
@mixin flexBox(
  $display: false,
  $item: false,
  $content: false,
  $flexWrap: false,
  $flexDirection: false,
  $flex: false
) {
  @if $display {
    display: $display;
  }

  @if $item {
    align-items: $item;
  }

  @if $content {
    justify-content: $content;
  }

  @if $flexWrap {
    flex-wrap: $flexWrap;
  }

  @if $flexDirection {
    flex-direction: $flexDirection;
  }

  @if $flex {
    flex: $flex;
  }
}

@mixin secondaryButtonOld(
  $bcol,
  $color,
  $font,
  $height,
  $width,
  $br,
  $fontWeight
) {
  background: $bcol;
  color: $color;
  font-size: $font;
  height: $height;
  width: $width;
  border-radius: $br;
  font-weight: $fontWeight;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondaryBlue;
  cursor: pointer;
}

@mixin secondaryButton(
  $bcol,
  $font,
  $fontWeight,
  $width,
  $height,
  $br,
  $brColor: $secondaryBlue,
  $color: $secondaryBlue
) {
  background: $bcol;
  color: $color;
  font-size: $font;
  font-weight: $fontWeight;
  width: $width;
  height: $height;
  border-radius: $br;
  border: 1px solid $brColor;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@mixin primaryButton($font, $fontWeight, $height, $width, $br) {
  background: $PrimaryBlue;
  color: $White;
  font-size: $font;
  height: $height;
  width: $width;
  border-radius: $br;
  font-weight: $fontWeight;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

@mixin linkButton($font, $fontWeight, $height, $width, $br) {
  background: $White;
  color: $secondaryBlue;
  font-size: $font;
  height: $height;
  width: $width;
  border-radius: $br;
  font-weight: $fontWeight;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

@mixin tablet {
  // @media (min-width: 768px) and (max-width: 1279px) {
  @content;
  // }
}

@mixin arrow($direction, $color, $size, $borderWidth, $position: false) {
  @if $direction == "top" {
    transform: rotate(-135deg);
  } @else if $direction == "bottom" {
    transform: rotate(45deg);
  } @else if $direction == "left" {
    transform: rotate(135deg);
  } @else if $direction == "right" {
    transform: rotate(-45deg);
  }

  padding: $size;
  border: solid $color;
  border-width: 0 $borderWidth $borderWidth 0;
  display: inline-block;
  transition: all 0.3s ease;
}

//skeleton loading animation effect
@mixin loadingStyle {
  overflow: hidden;
  // Animation
  animation: wave 1s infinite ease-in-out forwards;
  background: linear-gradient(
    to right,
    lighten($bgCol, 5%) 5%,
    $LGrey 20%,
    lighten($bgCol, 5%) 34%,
    lighten($bgCol, 5%) 100%
  );
  background-size: 1000px 400px; // Animation Area
}

@keyframes wave {
  0% {
    background-position: -430px 0;
  }
  100% {
    background-position: 430px 0;
  }
}
