@import '../../../commonNewStyles/variables.scss';

.dropdownmore {
  width: 360px;

  .nameCon {
    @include flexBox(flex, false, false, false, column);

    padding: 16px 20px;

    .nameInfo {
      @include fontStyle(20px, $darkBlue, 800, 1.2);

      word-break: break-word;

      + .emailInfo {
        padding-top: 4px;
      }
    }

    .emailInfo {
      @include fontStyle(12px, $subTextCol, false, 1.3);

      word-break: break-word;
    }
  }

  .boxSearchDrop {
    padding: 6px;
    background: $lightGreyColor;

    .searchDrop {
      position: relative;

      input {
        @include fontStyle(14px, $TextCol, 700);

        width: 100%;
        padding: 10px 10px 10px 60px;
        border-radius: 2px;
        background: $White;
        border: 1px solid $solitude;

        &::placeholder {
          @include fontStyle(14px, $LTextCol, 700);
        }
      }

      i {
        @include position(absolute, 11px, false, false, 20px);
        @include fontStyle(24px, $LTextCol);
      }
    }
  }

  .merchantList {
    .listScroll {
      max-height: 300px;
      overflow-y: scroll;

      .listBox {
        @include flexBox(flex, false, false, false, column);

        cursor: pointer;

        > div {
          width: 100%;
        }

        button {
          padding: 18px 20px;

          i {
            padding: 3px;
            border-width: 0 2px 2px 0;
          }

          + div {
            > div {
              padding: 0;
              border-top: 1px solid $solitude;
            }
          }
        }

        .itemRow {
          @include flexBox(flex, center, false, false, false, 1);

          padding-right: 10px;
        }

        .merchantName {
          @include fontStyle(14px, $darkBlue, 700);
        }

        .userPic {
          @include flexBox(flex, center, center);
          @include fontStyle(12px, $kashmirBlue, 700);
          @include dimensions(40px, 40px);

          margin-right: 12px;
          min-width: 40px;
          background: $solitude;
          border-radius: 50%;
          overflow: hidden;
          text-transform: uppercase;
        }

        .listBoxData {
          @include flexBox(flex, false, false, false, column);

          width: 100%;

          &:last-child {
            .listDetail {
              &::after {
                height: 0;
                display: none;
              }
            }
          }
        }


        .listDetail {
          padding: 16px 16px 16px 88px;
          word-break: break-word;
          position: relative;

          &::after {
            @include position(absolute, false, false, 0, 88px);
            @include dimensions(calc(100% - 88px), 1px);

            content: '';
            background: $solitude;
          }

          .nameText {
            @include fontStyle(14px, $darkBlue, 700, 1.4);

            i {
              @include fontStyle(14px, $Blue, 700);
            }
          }

          .addressInfo {
            @include fontStyle(12px, $kashmirBlue, 400);

            padding-top: 4px;
          }

          &:hover {
            background: $lightGreyColor;
          }
        }

        .singleMerchantWarehouse {
          display: flex;
          padding: 20px;
        }
      }

      .noResults {
        @include fontStyle(16px, $LBlack, 800);
        @include flexBox(flex, center, center, false, column);

        min-height: 240px;
        padding: 20px 50px;
        word-break: break-word;

        i {
          @extend .Bfull;

          background: $bgCol;
          padding: 10px;
          border-radius: 100%;
          margin-bottom: 16px;
          font-size: 23px;
        }

        span {
          @include fontStyle(12px, $LBlack, 400);

          padding-top: 8px;
          display: block;
        }
      }
      &::-webkit-scrollbar { display: block; }
    }

    a {
      @include primaryButton(16px, 800, 55px, 100%, 0);
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .dropdownmore {
    width: 320px;
  }
}
