@import '../../commonStyles/variables.scss';

.datePicker {
  background: $White;
  border-radius: 3px;
  z-index: 200;
  position: relative;
  max-height: 90vh;
  width: 450px;
  max-width: 450px;
  opacity: 1;
  user-select: none;

  .datePickerScroll {
    overflow-y: auto;
    max-height: calc(90vh - 56px - 100px);
  }

  .datePickerCalendar {
    padding: 0;

    .datePickerDayNames {
      @include flexBox(flex, center, space-around);

      @extend .BB;

      width: 100%;

      span {
        @include fontStyle(12px, $subTextCol, 600);
        @include flexBox( inline-flex, center, center);

        padding: 8px 0;
        text-transform: uppercase;
        width: 44px;
      }
    }

    .datePickerDays {
      @include flexBox(flex, center, center, wrap,  space-around);

      width: 100%;
      padding: 0;

      // grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
      span {
        @include flexBox(inline-flex, center, center);
        @include fontStyle(14px, $TextCol, 600, 20px);

        transition: color 0.22s;
        height: 34px;
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        width: calc(100% / 7);

        &::before {
          @include dimensions(32px, 32px);
          @include position(absolute, 0, 0, 0, 0, -1);

          content: '';
          background: $Blue;
          border-radius: 50%;
          transition: transform 0.22s, opacity 0.22s;
          transform: scale(0);
          opacity: 0;
          margin: auto;
        }

        &.datePickerSelected {
          color: $White;

          &::before {
            transform: scale(1);
            opacity: 1;
          }
        }

        &[disabled] {
          cursor: not-allowed;
          color: $subTextCol;

          &::before {
            background: $borderCol;
          }
        }
      }
    }
  }

  nav {
    @extend .BB;

    padding: 6px 8px;
    height: 46px;
    display: flex;
    align-items: center;

    h4 {
      @include fontStyle(12px, $TextCol, 800);

      width: calc(100% - 80px);
      text-align: center;
      text-transform: uppercase;
    }

    .arrowBox {
      display: flex;
      padding: 11px 11px 11px 8px;
      cursor: pointer;

      i {
        padding: 4px;
        margin: 0 0 0 7px;
        border: solid $subTextCol;
        border-width: 0 2px 2px 0;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      .left {
        transform: rotate(135deg);
      }

      .right {
        transform: rotate(-45deg);
      }
    }
  }

  .timeError {
    @include fontStyle(14px, $Red, 600);

    padding-left: 10px;
  }
}

.timeInput {
  @include flexBox(flex, center, center);

  padding: 9px;
}
