@import '../../commonStyles/variables.scss';

.tooltip {
  position: relative;
}

.tooltipItem {
  @extend .Bfull;

  @include fontStyle(13px, $TextCol, 400);

  position: absolute;
  min-width: max-content;
  padding: 10px;
  display: none;
  opacity: 0;
  background: $White;
  transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
  border-radius: 3px;
  box-shadow: 0 -4px 14px 0 rgba(29, 37, 45, 0.11);
  z-index: 4;
  width: 100px;

  &::after {
    @include widthHeight(0, 0);

    content: '';
    display: block;
    position: absolute;
    border-style: solid;
  }
}

.tooltipInitiator {
  z-index: 5;
}

.tooltip[data-direction='top'] {
  .tooltipInitiator {
    &:hover {
      & ~ .tooltipItem {
        transform: translate3d(-50%, 0, 0);
        display: block;
        opacity: 1;
      }
    }
  }

  .tooltipItem {
    bottom: calc(100% + 1em);
    width: fit-content;
    left: 50%;
    transform: translate3d(-50%, -15px, 0);

    &::after {
      bottom: -0.5em;
      left: 45%;
      transform: rotate(180deg);
      border-width: 0 0.5em 0.5em 0.5em;
      border-color: transparent transparent white transparent;
      filter: drop-shadow(0 -1px 1px #bcbcbc);
    }
  }
}

.tooltip[data-direction='right'] {
  .tooltipInitiator {
    &:hover {
      & ~ .tooltipItem {
        transform: translate3d(0, -50%, 0);
        display: block;
        opacity: 1;
      }
    }
  }

  .tooltipItem {
    top: 50%;
    left: calc(100% + 1em);
    transform: translate3d(15px, -50%, 0);

    &::after {
      top: 40%;
      left: -0.5em;
      transform: rotate(180deg);
      border-width: 0.5em 0 0.5em 0.5em;
      border-color: transparent transparent transparent white;
      filter: drop-shadow(1px -1px 1px #bcbcbc);
    }
  }
}

.tooltip[data-direction='bottom'] {
  .tooltipInitiator {
    &:hover {
      & ~ .tooltipItem {
        transform: translate3d(-50%, 0, 0);
        display: block;
        opacity: 1;
      }
    }
  }

  .tooltipItem {
    top: calc(100% + 1em);
    left: 50%;
    transform: translate3d(-50%, -15px, 0);

    &::after {
      top: -0.5em;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      border-width: 0 0.5em 0.5em 0.5em;
      border-color: transparent transparent white transparent;
      filter: drop-shadow(0 -1px 1px #bcbcbc);
    }
  }
}

.tooltip[data-direction='left'] {
  .tooltipInitiator {
    &:hover {
      & ~ .tooltipItem {
        transform: translate3d(0, -50%, 0);
        display: block;
        opacity: 1;
      }
    }
  }

  .tooltipItem {
    top: 50%;
    right: calc(100% + 1em);
    transform: translate3d(15px, -50%, 0);

    &::after {
      top: 50%;
      right: -0.5em;
      transform: translate3d(0, -50%, 0);
      border-width: 0.5em 0 0.5em 0.5em;
      border-color: transparent transparent transparent white;
      filter: drop-shadow(1px -1px 1px #bcbcbc);
    }
  }
}
