@import './src/commonStyles/variables.scss';

.migrationWrapper {
  @include flexBox(flex, false, false, false, column);

  text-align: left;
  padding: 50px 30px 30px;
}
.migrationWrapperIframe{
  @include flexBox(flex, false, false, false, column);

  text-align: left;
  padding-top: 50px;
}

.closeIcon {
  @include position(absolute, 10px, 5px, false, false, 6);
  @include dimensions(40px, 40px);

  background: $borderCol;
  border-radius: 50%;

  i {
    font-size: 40px;
  }
}

.titleInfo {
  @include fontStyle(24px, $TextCol, 700, 1.2);

  margin-bottom: 13px;
}

.followStep {
  @include fontStyle(16px, $subTextCol, false, 1.4);

  span {
    font-weight: 500;
  }
}

.stepItemBox {
  margin-top: 40px;

  li {
    padding-left: 32px;
    padding-bottom: 40px;
    position: relative;

    &::before {
      @include position(absolute, 2px, false, false, 0, 6);
      @include dimensions(12px, 12px);

      content: '';
      background: $LBlack;
      border-radius: 50%;
    }

    &::after {
      @include position(absolute, 2px, false, false, 6px, 5);
      @include dimensions(2px, 100%);

      content: '';
      border-left: 1px dashed $LBlack;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .stepCount {
    @include fontStyle(12px, $TextCol, false, 1);

    padding-bottom: 10px;
  }

  .headingText {
    @include fontStyle(18px, $TextCol, 500, 1.2);

    padding-bottom: 10px;
  }

  .stepText {
    @include fontStyle(16px, $subTextCol, false, 1.4);
  }
}

.btnInfo {
  @include primaryButton(20px, 700, 50px, 100%, 6px);
}

.verifyBtn {
  @extend .btnInfo;

  @include dimensions(127px, 60px);

  &.disabled{
    opacity: 0.4;
    pointer-events: none;
  }
}

.doneBtn {
  @extend .btnInfo;

  @include dimensions(192px, 60px);

  margin-top: 40px;
}

.loginInfo {
  @include fontStyle(16px, $subTextCol, false, 1.4);

  margin: 44px 0 4px;

  a {
    @include fontStyle(false, $Blue, 500);

    padding-left: 4px;
  }
}

.otpWrapper {
  @include flexBox(flex, false, false, false, column);

  text-align: left;
  padding: 23px 15px 10px;
}

.otpTitle {
  @include fontStyle(22px, $TextCol, 700, 1.1);
}

.otpSend {
  @include fontStyle(18px, $TextCol, 700, 1.2);

  margin: 53px 0 23px;
  text-align: center;
}

.otpInputInfo {
  @include flexBox(flex, false, center);

  margin-bottom: 30px;

  input {
    @include fontStyle(28px, $TextCol, 700, 1);
    @include dimensions(54px, 54px);

    border: 1px solid $lightGrey;
    text-align: center;
    border-radius: 6px;
    margin-right: 16px;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &.error {
      border-color: $Red;
    }
  }
}
.errorMessage{
  @include fontStyle(18px, $Red, false, 1.2);
  text-align: center;
}
.resendLink {
  @include fontStyle(18px, $TextCol, false, 1.2);

  text-align: center;

  .resendTime {
    span {
      font-weight: 700;
    }
  }


  .resendOtp {
    @include fontStyle(false, $Blue, 500);
  }

  .successOtp {
    @include flexBox(flex, center, center);

    i {
      font-size: 20px;
      padding-right: 6px;
    }
  }

  .invalid {
    color: $Red;
  }
}

.bottomBtn {
  @include flexBox(flex, false, flex-end);

  padding-top: 30px;

}

.succssWrapper {
  @include flexBox(flex, center, false, false, column);

  padding: 44px 30px 20px;
}

.successIcon {
  margin-bottom: 28px;

  i {
    font-size: 54px;
  }
}

.successTitle {
  @include fontStyle(24px, $TextCol, 700, 1);

  margin-bottom: 15px;
}

.successText {
  @include fontStyle(20px, $TextCol);

  padding: 0 30px;
}

.fetchLoader{
  width: 15%;
}
