@import '../../commonStyles/variables.scss';

.selectSearch {
  position: relative;
  padding: 15px;
  cursor: pointer;
  z-index: 0;

  label {
    @include fontStyle(12px, $subTextCol, 400);

    cursor: pointer;
  }

  .selectBox {
    span {
      @include fontStyle(14px, $TextCol, 700);
      @include flexBox(flex, baseline);

      span {
        position: absolute;
      }

      i {
        padding: 3px;
        margin: 0 0 0 10px;
        border: solid $Black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: all 0.3s ease;
        position: relative;
        bottom: 3px;
      }
    }

    .up {
      top: 2px;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}

.hasOverlay {
  position: relative;

  .selectSearch {
    background: $White;
    border-radius: 3px 3px 0 0;
    z-index: 2;
  }

  .dateContainer {
    @include position(absolute, 0, false, false, 0, 1);
    @include flexBox(flex, center,  space-between, false, column);

    background: $White;
    width: 250px;
    border-radius: 0 0 4px 4px;

    .dataBox {
      width: 100%;
      display: flex;
      flex-direction: column;

      .dataRow {
        @include fontStyle(14px, $subTextCol, 400);

        padding: 15px;
        cursor: pointer;

        &:not(:last-child) {
          border-bottom: 1px solid $borderCol;
        }

        &:hover {
          background: $bgCol;

          &:last-child {
            border-radius: 0 0 4px 4px;
          }
        }

        &.active {
          @include fontStyle(14px, $TextCol, 800);
        }
      }
    }
  }

  .datePickerWrap {
    background: $White;
    width: 450px;
    position: absolute;
    z-index: 2;

    .customDateBox {
      padding: 15px;

      .topDateRange {
        display: flex;

        i {
          @include fontStyle(22px,  $Black);

          cursor: pointer;
          margin-right: 13px;
        }

        .customText {
          @include fontStyle(14px, $TextCol, 600);

          span {
            @include fontStyle(12px, $subTextCol, 400);

            display: block;
            margin-top: -2px;
          }
        }

        button {
          @include primaryButton(14px, 700, 30px, 70px, 2px);

          margin-left: auto;

          &.disableButton {
            opacity: 0.7;
            pointer-events: none;
          }
        }
      }
    }
  }

  .DPconWrapper {
    @include position(absolute, 130px, false, false, 0, 23);
  }

  .actionWrapper {
    @extend .BB;
    @extend .BT;

    background: $bgCol;
    padding: 4px 8px;

    .filterActionBottom {
      display: flex;

      .calenderChoose {
        @extend .Bfull;

        padding: 4px 10px;
        position: relative;
        border-radius: 2px;
        cursor: pointer;
        background: $White;

        &:not(:last-child) {
          margin-right: 16px;
        }

        &.active {
          border: 1px solid $Blue;
        }

        label {
          @include fontStyle(12px,  $LBlack, 600, 1.2);

          cursor: pointer;
        }

        input {
          @include fontStyle(14px,  $TextCol, 700, 1.75);

          border: 0;
          outline: none;
          background: transparent;
          cursor: pointer;
          padding: 0;
          border-radius: 4px;
        }

        i {
          @include fontStyle(24px,  $subTextCol);
          @include position(absolute, 17px, 9px, false, false);
        }
      }
    }
  }
}
