
@import '../../../commonStyles/variables.scss';

.overlay {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in;

  @include dimensions(100%, 100%);
  @include position(fixed, 0, 0, 0, 0, 1) ;
}

.active {
  visibility: visible;
  opacity: 1;
}
