@import '../../../commonStyles/variables.scss';

.time {
  position: relative;
  margin-right: 10px;

  input {
    @extend .Bfull;

    @include fontStyle(14px, $TextCol, 700);

    height: 44px;
    padding: 12px 16px;
    width: 100%;
  }

  label {
    @include position(absolute, 14px, 16px, false, false);
    @include fontStyle(12px, $subTextCol, 600);
  }

  &:last-child {
    margin-right: 0;
  }
}
