@import '../../commonStyles/variables.scss';

.checkbox {
  &.disabled {
    opacity: 0.4;

    label {
      cursor: not-allowed;
    }
  }

  label {
    color: $Black;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
    text-align: left;
    display: flex;
    width: 93%;

    &:hover {
      .helper {
        color: $Blue;
      }
    }
  }

  input {
    left: 0;
    opacity: 0;
    position: absolute;
    width: auto;

    &:checked ~ .helper {
      color: $Blue;
      background: $Blue;

      &::after {
        height: 7px;
        opacity: 1;
        transition: height 0.28s ease;
      }

      &::before {
        height: 11px;
        opacity: 1;
        transition: height 0.28s ease;
        transition-delay: 0.28s;
      }
    }
  }

  .helper {
    @include widthHeight(18px, 18px);
    @include popupFull(absolute, 0, false, false, 0);

    border-radius: 2px;
    color: $LBlack;
    transition: border-color 0.28s ease;
    z-index: 0;
    border: 1px solid;

    &::before {
      @include popupFull(absolute, 12px, false, false, 7px);
      @include widthHeight(2px, 0);

      background: $White;
      display: block;
      transform-origin: left top;
      border-radius: 2px;
      content: '';
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0;
      transform: rotate(-135deg);
    }

    &::after {
      @include popupFull(absolute, 8px, false, false, 1px);
      @include widthHeight(2px, 0);

      background: $White;
      display: block;
      transform-origin: left top;
      border-radius: 2px;
      content: '';
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0;
      transform: rotate(-45deg);
    }
  }
}
