@import '../../../commonStyles/common.scss';
@import '../../../commonNewStyles/variables.scss';


.dropdown {
  position: relative;

  &.open {
    z-index: 9;

    .headerDropdownMenu .insiderDropdownMenu {
      display: block;
    }

    .backdrop {
      opacity: 0.2;
      visibility: visible;
    }
  }

  .backdrop {
    @include popupFull(fixed, 0, false, false, 0);
    @include widthHeight(100%, 100%);

    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: $Black;
  }

  .headerDropdownMenu {
    @include popupFull(absolute, 20px, 0, false, false);
    min-width: 200px;
    z-index: 999;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    background: white;
    padding: 16px;

    div {
      padding: 1pc;
      background: #4f7a9f;
      display: flex;
      justify-content: right;
      align-items: center;
    }
    span{
      color: white;
      font-size: larger;
      font-weight: 500;
    }
  }

  .insiderDropdownMenu {
    @include popupFull(absolute, 30px, false, false, 0);

    min-width: 200px;
    z-index: 999;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    background: $White;
  }

  .disabled {
    opacity: 0.15;
    cursor: not-allowed;
  }
}
